.container{
    display:flex;
    list-style-type:none;
    align-content:space-around;
    justify-content: center;
    flex-flow:row wrap;
    max-width:80vw;
    margin:10px;
    padding:20px;
}

.header_container{
    display:flex;
    list-style-type:none;
    background:maroon;
    justify-content:space-around;
    max-width:80vw;
    margin:10px;
    padding:20px;

    color:white;
    font-style:bold;
    text-align:center;
}

.flex-item{
    background:silver;
    padding:5px;
    width:200px;
    height:150px;
    margin:10px;

    line-height: 150px;
    color:white;
    font-weight:bold;
    font-size:5vmin;
    text-align:center;
}

.flex-item a{
    color:white;
}

.flex-item a:visited{
    color:white;
}

.flex-item a:hover{
    color:gold;
}

.flex-head{
    padding:5px;
    margin:10px;
}

.flex-head a{
    color:white;
}

.flex-head a:visited{
    color:white;
}

.flex-head a:hover{
    color:gold;
}